@model Tool_Menagement.Models.NarzedzieViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Narzedzie</h4>

<hr />
@if (TempData["ErrorMessage1"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage1"]
    </div>
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <select asp-for="Opis" class="form-control" id="Opis">
                    @foreach (var item in ViewBag.Opisy as List<string>)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Przeznaczenie" class="control-label"></label>
                <select asp-for="Przeznaczenie" class="form-control" id="Przeznaczenie">
                    <option value="">-- Wybierz --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaterialWykonania" class="control-label"></label>
                <select asp-for="MaterialWykonania" class="form-control" id="MaterialWykonania">
                    <option value="">-- Wybierz --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Srednica" class="control-label"></label>
                <input asp-for="Srednica" class="form-control" placeholder="(double)" />
            </div>
            <div class="form-group">
                <label asp-for="Trwalosc" class="control-label"></label>
                <input asp-for="Trwalosc" class="form-control" placeholder="(int)" />
            </div>
            <div class="form-group">
                <label asp-for="Ilosc" class="control-label"></label>
                <input asp-for="Ilosc" class="form-control" />
                <span asp-validation-for="Ilosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Opis').change(function () {
                var selectedOpis = $(this).val();
                if (selectedOpis) {
                    $.ajax({
                        url: '@Url.Action("GetPrzeznaczenia", "Narzedzia")',
                        type: 'GET',
                        data: { opis: selectedOpis },
                        success: function (data) {
                            $('#Przeznaczenie').empty();
                            $('#Przeznaczenie').append('<option value="">-- Wybierz --</option>');
                            $.each(data.przeznaczenia, function (index, value) {
                                $('#Przeznaczenie').append('<option value="' + value + '">' + value + '</option>');
                            });

                            if (data.loadOtherView) {
                                disableFields(true);
                            } else {
                                disableFields(false);
                            }
                        }
                    });
                }
            });

            $('#Przeznaczenie').change(function () {
                var selectedOpis = $('#Opis').val();
                var selectedPrzeznaczenie = $(this).val();
                if (selectedPrzeznaczenie) {
                    $.ajax({
                        url: '@Url.Action("GetMaterialyWykonania", "Narzedzia")',
                        type: 'GET',
                        data: { opis: selectedOpis, przeznaczenie: selectedPrzeznaczenie },
                        success: function (data) {
                            $('#MaterialWykonania').empty();
                            $('#MaterialWykonania').append('<option value="">-- Wybierz --</option>');
                            $.each(data, function (index, value) {
                                $('#MaterialWykonania').append('<option value="' + value + '">' + value + '</option>');
                            });
                        }
                    });
                }
            });

            function disableFields(disable) {
                if (disable) {
                    $('#MaterialWykonania').prop('disabled', true).removeAttr('name').removeAttr('data-val').removeAttr('data-val-required');
                    $('#Srednica').prop('disabled', true).removeAttr('name').removeAttr('data-val').removeAttr('data-val-required');
                    $('#Trwalosc').prop('disabled', true).removeAttr('name').removeAttr('data-val').removeAttr('data-val-required');
                    $('#MaterialWykonania').closest('.form-group').hide();
                    $('#Srednica').closest('.form-group').hide();
                    $('#Trwalosc').closest('.form-group').hide();
                } else {
                    $('#MaterialWykonania').prop('disabled', false).attr('name', 'MaterialWykonania').attr('data-val', 'true').attr('data-val-required', 'The Materiał Wykonania field is required.');
                    $('#Srednica').prop('disabled', false).attr('name', 'Srednica').attr('data-val', 'true').attr('data-val-required', 'The Średnica field is required.');
                    $('#Trwalosc').prop('disabled', false).attr('name', 'Trwalosc').attr('data-val', 'true').attr('data-val-required', 'The Trwałość field is required.');
                    $('#MaterialWykonania').closest('.form-group').show();
                    $('#Srednica').closest('.form-group').show();
                    $('#Trwalosc').closest('.form-group').show();
                }
            }
        });
    </script>
}

